body {
    background-color: #e8e3dd;
}

h1 {
    color: rgb(214, 142, 35);
    font-size: 24px
}

@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: greenyellow;
    }
}

.container {
    display: flex; 
    align-items: top;
    gap: 20px; 
  }
  
  .container img {
    max-width: 30%;
    height: auto; 
    border-radius: 10px; 
  }
  
  .container .text {
    flex: 1; 
  }
  
  .container .text h2 {
    margin: 0;
  }
  
  .container .text p {
    margin: 10px 0 0; 
    
  }